.logoBox{
  position: fixed;
  z-index: 100;
}
.top-header{
  background-color: inherit;
  height: 4vw;
  display: flex;
  justify-content: space-around;
}
.top-header-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.top-header-info p {
  margin: 0;
  font-size: 12px;
}
.middle-header{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 130px;
}
.left-middle-header{
  display: flex;
  height: 80%;
  justify-content: space-between;;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -2vw;
}
.liens-annexes{
  display: flex;
  justify-content: space-between;;
}
.liens-annexes a{
  color: black;
  text-decoration: underline;
  font-size: 10px;
}
.recherche input{
  height: 35px;
}
.click-and-collect a{
  color: #D91627;
  font-size: 15px;
  font-weight:bold;
}
.right-middle-header{
  display: flex;
  justify-content: space-between;
}
.right-middle-header-link{
  display: flex;
  justify-content: center;
}
.right-middle-header p{
  font-size: 10px;
  font-weight: bold;
}
